.logotext {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 35px;
  height: 31px;
}

.text {
  margin-left: 25px;
  width: 82px;
  height: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

.sidebarlist {
  margin-top: 40px;
  margin-left: 15px;
}

.listitem {
  width: 200px;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.dropitem {
  width: 200px;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.dropitemhead {
  display: flex;
  align-items: center;
}

.droptext {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.droptext * {
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.6;
}


.sidebartext {
  margin-left: 20px;
}

.material-icons {
  opacity: 0.2;
}